body {
	background: #B1DDF3;
	font-family: Arial;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #3B3B3B;
}

.logo {
	font-size: 30px;
	padding: 0 30px 0 30px;
	color: #C0C0C0;
	text-decoration: none;
}

.logo.left {
	float: left;
}

.logo.right {
	float: right;
}

.logo.left:before {
	content: '\263A';
}

.top {
	position: fixed;
	left: 0;
	margin: 40px auto;
	height: 400px;
	width: 100%;
	border: 5px solid black;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #E3675C;
}

.bottom {
	margin: 0 15px;
	text-decoration: none;
	color: white;
}

.bottom.left {
	float: left;
}

.bottom.left:before {
	content: '\00A9';
}

.bottom.right {
	float: right;
}