body {
	font-family: sans-serif;
}

div h2 {
	font-family: cursive;
}

#intro h1{
	font-size: 135%;
}

.heading {
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: blue;
}