body {
	background: white;
	font-family: Arial;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: gray;
}

.logo {
	font-size: 30px;
	padding: 0 30px 0 30px;
	color: black;
	text-decoration: none;
}

.logo.left {
	float: left;
}

.logo.right {
	float: right;
}

.logo.left:before {
	content: '\266B';
}

.top {
	position: fixed;
	left: 0;
	margin: 50px 20px;
	background-image: url('joepass.jpg');
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: black;
}

.bottom {
	margin: 0 15px;
	text-decoration: none;
	color: white;
}

.bottom.left {
	float: left;
}

.bottom.left:before {
	content: '\00A9';
}

.bottom.right {
	float: right;
}